/dist/
/build/
web/views/admin/newjsp.jsp
src/java/controller/admin/UploadServlet.java
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
*.jar
*.war
web/META-INF/context.xml
nbproject/private/private.xml
/nbproject
/web/META-INF
src/java/dal/FakeData.java
/web/META-INF
/nbproject
